<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function(){
            $('button').click(function(){
                    $.ajax({
                        url: "update_db/",
                        // data: {},
                        dataType: "html",
                        success:function(msg){
                           alert('alert')



                        }
                    })
            });
        });

    </script>
</head>
<body>

  <h1>WA! hahahahahhahaha</h1>
  <span>{{ TT }}</span>
  <button>DB UPDATE</button>

  <h1>Hello,{{ request.session.myname | default:"Django" }} with mysql</h1>

  <a href="login/">로그인</a>

  <a href="/register/">회원가입</a>

</body>
</html>