<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function(){
            $('button').click(function(){
                    $.ajax({
                        url: "http://ubuntu:9864/webhdfs/v1/home/jaewon/wwww.png?op=OPEN&namenoderpcaddress=localhost:9000&offset=0",
                        dataType: "html",
                        success:function(msg){
                           alert('alert')



                        }
                    })
            });
        });

    </script>
</head>
<body>

  <h1>WA! hahahahahhahaha</h1>
  <span>{{ TT }}</span>

  <button>send webhdfs</button>

</body>
</html>