<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function(){
            $('#double_check').click(function(){
                    var xyz = $('input[name=myname]').val()
                    $.ajax({
                        url: "double_check/",
                        data: {'ID':xyz},
                        dataType: "json",
                        success:function(msg){
                           alert(xyz)
                           alert(msg['alert'])
                           //history.back()
                           if(msg['code'] == 0){
                            $('input[name=myname]').val('')
                            $('#hide').text(msg['code'])
                           }
                           else if (msg['code'] == 1){
                               $('#hide').text(msg['code'])
                           }

                        }
                    })
            });

            // 회원가입
            $('#register').click(function(){
                    var x = $('input[name=myname]').val()
                    var y = $('input[name=mypassword]').val()
                    var z = $('input[name=myemail]').val()

                    $.ajax({
                        url: "new_register/",
                        data: {'ID':x,'PW':y,'EM':z},
                        dataType: "json",
                        success:function(msg){
                           //alert(msg['a'])
                           history.back()

                           //$('input[name=myname]').val('')

                        }
                    })
            });


        });

    </script>
</head>
<body>

    <h1>Register</h1>
    <span id = 'hide' style = 'display:none'></span>

    <p>아이디 대소문자 구분안함 </p>
    NAME : <input type="text" name = 'myname'>
    <button id = 'double_check'>중복 확인</button>
    <br>
    PASSWORD : <input type="password" name = 'mypassword'>
    <br>
    EMAIL : <input type="text" name = myemail>
    <br>
    <button id = 'register'>회원가입</button>



</body>
</html>