*{
    margin: 0px;
    padding: 0px;
}

body{
    font: 17px 'Nanum Gothic',sans-serif
}

a{
    text-decoration:  none;
    color: #404040;
}

li{
    list-style: none;
}

#menu1{
  
    outline: 1px dotted red;
    /* position: fix; */
    background: #98E0AD;
    height: 50px;
}

#menu1 ul{
    width: 500px;
    margin: 0 auto;
    /* overflow: hidden; */
    position: relative;
}

#menu1 .main> li {
    float: left; 
    width: 25%; 
    height: 50px; 
    line-height: 50px; 
    text-align: center; 
    background: #98E0AD; 
}

#menu1 .main>li:hover .menu2{
    display:block
    
}

/* #menu1 ul li{ */
    /* 1.왼쪽부터 가로 정렬
    2. li 항목이 모두 4개 이므로 4등분을 위한 사이즈 정의 
    3. float 해제를 위한 세로 사이즈 지정
    4. 텍스트 중앙 정렬 (위/아래에 대한)
    5. 텍스트 가운데 정렬
    6. 백그라운드 색상 지정 */
    /* float: left; 
    width: 25%; 
    height: 50px; 
    line-height: 50px; 
    text-align: center; 
    background: #98E0AD;  */

/* } */


#menu1 .main>li a{
    display: block;
}

#menu1 .main>li a:hover{
    background: red;
    color: #fff;
}

#menu1 .menu2{
    position: absolute;
    top: 50px;
    left:0;
    width: 100%;
    display:  none;
}


#menu1 .sub{
    float: left;
    width: 25%;

}

#menu1 .sub{
    float:left;
    width:  25%;
}

#menu1 .sub li{
    background: #98E0AD;
}

/* #menu1 ul li a{
    display:block
} */

/* #menu1 ul li a:hover{
    background: #138535;
    color: #fff;
} */


